django==4.2.1
django-cors-headers==3.14.0
djangorestframework==3.14.0
psycopg2-binary==2.9.6
celery==5.2.7
django-celery-beat==2.5.0
django-celery-results==2.5.0
django-timezone-field==5.0
python-crontab==2.7.1
pandas==2.0.0
python-dateutil==2.8.2
gevent==22.10.2
numpy==1.23.5
scikit-learn==1.2.2
joblib==1.2.0
tensorflow==2.12.0
