.SmallButtonFooter_button-contanie {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #EDF1F4;
    box-shadow: 0px 1px 3px rgba(27, 39, 49, 0.0784314);
    border-radius: 3px;
}

.SmallButtonFooter_button-contanie:hover {
    background-color: #173C6C;
}

.SmallButtonFooter_p-content {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #2C3B48; 
    line-height:5px;
}
